[Interface]
Address = {{ WG_VPS_ADDRESS }}
PrivateKey = {{ WG_VPS_PRIVATE_KEY }}
ListenPort = {{ WG_VPS_PORT }}
MTU = 1280

{% if WG_VPS_PEERS %}
{% for PEER in WG_VPS_PEERS %}
[Peer]
PublicKey = {{ PEER.PUBLIC_KEY }}
AllowedIPs = {{ PEER.ALLOWED_IPS }}
PersistentKeepalive = 25
{% endfor %}
{% endif %}
