---
- name: Restart Nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  become: true
- name: Restart WireGuard
  ansible.builtin.systemd:
    name: wg-quick@wg0
    state: restarted
    enabled: true
  become: true
- name: Restart Uptime Kuma Container
  community.docker.docker_container:
    name: upremote
    state: started
    restart: true
  become: true
- name: Restart Docker
  ansible.builtin.service:
    name: docker
    state: restarted
  become: true
