---
- name: Restart Docker
  ansible.builtin.service:
    name: docker
    state: restarted
  become: true
- name: Restart Nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  become: true
- name: Restart Uptime Kuma Container
  community.docker.docker_container:
    name: uplocal
    state: started
    restart: true
  become: true
- name: Restart Ntfy Container
  community.docker.docker_container:
    name: ntfy
    state: started
    restart: true
  become: true
- name: Restart Vaultwarden Container
  community.docker.docker_container:
    name: vaultwarden
    state: started
    restart: true
  become: true
- name: Restart ChatGPT Next Web Container
  community.docker.docker_container:
    name: chatgpt-next-web
    state: started
    restart: true
  become: true
- name: Restart Jellyfin Container
  community.docker.docker_container:
    name: jellyfin
    state: started
    restart: true
  become: true
- name: Restart Navidrome Container
  community.docker.docker_container:
    name: navidrome
    state: started
    restart: true
  become: true
- name: Restart Watchtower Container
  community.docker.docker_container:
    name: watchtower
    state: started
    restart: true
  become: true
- name: Apply netplan configuration
  ansible.builtin.command: netplan apply
  become: true
  changed_when: false
- name: Restart Authentik Postgres Container
  community.docker.docker_container:
    name: authentik-postgresql
    state: started
  become: true
- name: Restart Authentik Server Container
  community.docker.docker_container:
    name: authentik
    state: started
  become: true
- name: Restart Authentik Worker Container
  community.docker.docker_container:
    name: authentik-worker
    state: started
  become: true
