---
- name: Ensure Authentik Postgres is running
  community.docker.docker_container:
    name: "{{ external_authentik_postgres_container }}"
    image: "{{ external_authentik_pg_image }}"
    restart_policy: always
    env:
      POSTGRES_DB: "{{ AUTHENTIK_PG_DB }}"
      POSTGRES_USER: "{{ AUTHENTIK_PG_USER }}"
      POSTGRES_PASSWORD: "{{ AUTHENTIK_PG_PASS }}"
    volumes:
      - "{{ external_authentik_pg_data_dir }}:/var/lib/postgresql/data"
    networks:
      - name: "{{ external_authentik_network }}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s
  notify: Restart Authentik Postgres Container

- name: Ensure Authentik server is running
  community.docker.docker_container:
    name: "{{ external_authentik_server_container }}"
    image: "{{ external_authentik_image }}"
    command: server
    restart_policy: always
    env:
      AUTHENTIK_POSTGRESQL__HOST: "{{ external_authentik_postgres_container }}"
      AUTHENTIK_POSTGRESQL__NAME: "{{ AUTHENTIK_PG_DB }}"
      AUTHENTIK_POSTGRESQL__USER: "{{ AUTHENTIK_PG_USER }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ AUTHENTIK_PG_PASS }}"
      AUTHENTIK_SECRET_KEY: "{{ AUTHENTIK_SECRET_KEY }}"
    ports:
      - "{{ external_authentik_http_port }}:9000"
      - "{{ external_authentik_https_port }}:9443"
    volumes:
      - "{{ external_authentik_media_dir }}:/media"
      - "{{ external_authentik_config_dir }}:/templates"
    networks:
      - name: "{{ external_authentik_network }}"
  notify: Restart Authentik Server Container

- name: Ensure Authentik worker is running
  community.docker.docker_container:
    name: "{{ external_authentik_worker_container }}"
    image: "{{ external_authentik_image }}"
    command: worker
    user: "root"
    restart_policy: always
    env:
      AUTHENTIK_POSTGRESQL__HOST: "{{ external_authentik_postgres_container }}"
      AUTHENTIK_POSTGRESQL__NAME: "{{ AUTHENTIK_PG_DB }}"
      AUTHENTIK_POSTGRESQL__USER: "{{ AUTHENTIK_PG_USER }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ AUTHENTIK_PG_PASS }}"
      AUTHENTIK_SECRET_KEY: "{{ AUTHENTIK_SECRET_KEY }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ external_authentik_media_dir }}:/media"
      - "{{ external_authentik_certs_dir }}:/certs"
      - "{{ external_authentik_config_dir }}:/templates"
    networks:
      - name: "{{ external_authentik_network }}"
  notify: Restart Authentik Worker Container
