---
- name: Ensure Authentik Postgres is running
  community.docker.docker_container:
    name: authentik-postgresql
    image: "docker.io/library/postgres:16-alpine"
    restart_policy: always
    env:
      POSTGRES_DB: "{{ AUTHENTIK_PG_DB }}"
      POSTGRES_USER: "{{ AUTHENTIK_PG_USER }}"
      POSTGRES_PASSWORD: "{{ AUTHENTIK_PG_PASS }}"
    volumes:
      - "{{ CFG_MOUNT }}/authentik-cfg/data:/var/lib/postgresql/data"
    networks:
      - name: authentik
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s
  notify: Restart Authentik Postgres Container

- name: Ensure Authentik server is running
  community.docker.docker_container:
    name: authentik
    image: "ghcr.io/goauthentik/server:2025.10.0"
    command: server
    restart_policy: always
    env:
      AUTHENTIK_POSTGRESQL__HOST: "authentik-postgresql"
      AUTHENTIK_POSTGRESQL__NAME: "{{ AUTHENTIK_PG_DB }}"
      AUTHENTIK_POSTGRESQL__USER: "{{ AUTHENTIK_PG_USER }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ AUTHENTIK_PG_PASS }}"
      AUTHENTIK_SECRET_KEY: "{{ AUTHENTIK_SECRET_KEY }}"
    ports:
      - "9050:9000"
      - "9443:9443"
    volumes:
      - "{{ CFG_MOUNT }}/authentik-cfg/media:/media"
      - "{{ CFG_MOUNT }}/authentik-cfg/templates:/templates"
    networks:
      - name: authentik
  notify: Restart Authentik Server Container

- name: Ensure Authentik worker is running
  community.docker.docker_container:
    name: authentik-worker
    image: "ghcr.io/goauthentik/server:2025.10.0"
    command: worker
    user: "root"
    restart_policy: always
    env:
      AUTHENTIK_POSTGRESQL__HOST: "authentik-postgresql"
      AUTHENTIK_POSTGRESQL__NAME: "{{ AUTHENTIK_PG_DB }}"
      AUTHENTIK_POSTGRESQL__USER: "{{ AUTHENTIK_PG_USER }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ AUTHENTIK_PG_PASS }}"
      AUTHENTIK_SECRET_KEY: "{{ AUTHENTIK_SECRET_KEY }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ CFG_MOUNT }}/authentik-cfg/media:/media"
      - "{{ CFG_MOUNT }}/authentik-cfg/certs:/certs"
      - "{{ CFG_MOUNT }}/authentik-cfg/templates:/templates"
    networks:
      - name: authentik
  notify: Restart Authentik Worker Container
