---
- name: Restart Nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  become: true

- name: Restart Docker
  ansible.builtin.service:
    name: docker
    state: restarted
  become: true

- name: Reload Daemon
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
