---
- name: External | Common
  ansible.builtin.include_tasks: common.yml
  when: external_enable_common
  tags: [external, external_common]

- name: External | Networking
  ansible.builtin.include_tasks: networking.yml
  when: external_enable_networking
  tags: [external, external_networking]

- name: External | NFS
  ansible.builtin.include_tasks: nfs.yml
  when: external_enable_nfs
  tags: [external, external_nfs]

- name: External | Docker
  ansible.builtin.include_tasks: docker.yml
  when: external_enable_docker
  tags: [external, external_docker]

- name: External | UFW
  ansible.builtin.include_tasks: ufw.yml
  when: external_enable_ufw
  tags: [external, external_ufw]

- name: External | Certbot
  ansible.builtin.include_tasks: certbot.yml
  when: external_enable_certbot
  tags: [external, external_certbot]

- name: External | Nginx
  ansible.builtin.include_tasks: nginx.yml
  when: external_enable_nginx
  tags: [external, external_nginx]

- name: External | Services
  ansible.builtin.include_tasks: services.yml
  when: external_enable_services
  tags: [external, external_services]
