[Interface]
Address = {{ WG_VPN_ADDRESS }}
PrivateKey = {{ WG_VPN_PRIVATE_KEY }}
ListenPort = {{ WG_VPN_PORT }}
MTU = 1280
# setup packet forwarding
PreUp = sysctl -w net.ipv4.ip_forward=1

# setup iptables
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

{% for peer in WG_VPN_PEERS %}
[Peer]
PublicKey = {{ peer.PUBLIC_KEY }}
EndPoint = {{ WG_VPN_ENDPOINT }}
AllowedIPs = {{ peer.ALLOWED_IPS }}
PersistentKeepalive = 25
{% endfor %}