[Interface]
Address = {{ WG_VPN_ADDRESS }}
PrivateKey = {{ WG_VPN_PRIVATE_KEY }}
ListenPort = {{ WG_VPN_PORT }}
MTU = 1350

{% for peer in WG_VPN_PEERS %}
[Peer]
PublicKey = {{ peer.PUBLIC_KEY }}
EndPoint = {{ WG_VPN_ENDPOINT }}
AllowedIPs = {{ peer.ALLOWED_IPS }}
PersistentKeepalive = 25
{% endfor %}